#btn-add, #btn-add-banner, .btn-add-custom {
    padding: 20px;
    border: 2px dashed #000000;
    background-color: #FFFFFF;
}
.show-img img{
    width: 100%;
    object-fit: contain;
    height: 100px;
}
label.image-upload {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-danger.btn-deleteimg {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
