label:not(.form-check-label):not(.custom-file-label){
    font-weight: 500;
}
#btn-add, #btn-add-banner, .btn-add-custom {
    padding: 20px;
    border: 2px dashed #000000;
    background-color: #FFFFFF;
}
.show-img img{
    width: 100%;
    object-fit: contain;
    height: 100px;
}
label.image-upload {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-danger.btn-deleteimg {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-title.card-title-cs{
    font-size: 20px;
    font-weight: 700;
}
.preview_snippet{
    margin-top: 10px;
}
.preview_snippet h4 {
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.0625rem;
}
.preview_snippet_main {
    padding: 10px 20px;
    border: 1px solid #dedede;
    margin: 10px;
    border-radius: 5px;
}
.preview_snippet_title {
    color: #1a0dab;
    font-size: 18px;
    line-height: 1.33;
    margin: 0;
    font-size: 23px;
}

.preview_snippet_link {
    color: #006621;
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.57;
    margin: 0;
}
.preview_snippet_des {
    line-height: 1.69;
    word-wrap: break-word;
    color: #545454;
    font-size: 14px;
    margin: 0;
}
.table-subcategory{
    max-height: 380px;
    overflow-y: scroll;
}


